<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
<title>해킹하기 좋은 허술한 사이트</title> 

<body>
<div class=page>
	<div class=metanav>
		<a href="{{ url_for('urlshortener') }}">URL 줄이기</a> * 
		<a href="{{ url_for('entries_list') }}">게시글 목록 보기 </a> *
		<a href="{{ url_for('write_entry') }}">글쓰기 </a> *
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a> *
		<a href="{{ url_for('register') }}"> Register </a>
	{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	<h2> 허술한 게시판 글쓰기 </h2>
	{% if error %}<p class=error><strong>Error:</strong> {{ error | safe }}{% endif %}
	<form action="{{ url_for('write_entry') }}" method=post>
		<dl>
		<dt>제목:
		<dd><input type=text name=title>
		<dt>url:
		<dd><input type=text name=url>			
		<dt>Tag:
		<dd><input type=text name=tag>	
		<dt>본문:
		<dd><textarea name="entry_text" cols="40" rows="8" ></textarea>		
		<dd><input type=submit value=register>
		</dl>
	</form>
	
</body>

</html>