<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
<title>해킹하기 좋은 허술한 사이트</title> 

<body>
<div class=page>
	<div class=metanav>
		<a href="{{ url_for('urlshortener') }}">URL 줄이기</a> * 
		<a href="{{ url_for('entries_list') }}">게시글 목록 보기 </a> *
		<a href="{{ url_for('write_entry') }}">글쓰기 </a> *
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a> *
		<a href="{{ url_for('register') }}"> Register </a>
	{% else %}
		<a href="{{ url_for('change_info') }}">개인정보 바꾸기</a>
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	<h1>해킹하기 좋은 게시판</h1>
	<div class = entries>
	{% for entry in entries %}
		<div class = one_entry>
		○ <a href="../e/{{ entry.2 }}">제목 : {{ entry.0 }}</a> - 글쓴이 : {{entry.3}} <br>
		</div>
	{% else %}
		아무 글도 없음.
	{% endfor %}
	<br>관리 : db 파일 직접 열어서 하면 됩니다.
	</div>
<div>
</body>

</html>